* {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

:root {

    --visual-identity-color: #51A9F0;

    --visual-identity-color-light: #51a8f077
}

nav {

    background-color: var(--visual-identity-color);
    height: 9.3vh;

}

.category {
    color: var(--visual-identity-color);
    font-size: 2em;
    margin-top: 1%;    
}

.logo-svg {
    height: 60px;
}

.logo-svg-teste {
    height: 90px;
    margin: 1%;
}


.busca {

    background-color: rgba(128, 128, 128, 0.158);
    width: 20%;
    /*margin-top: 1.2%;*/
    border-radius: 10%;

}
/*
.input-field {
    right: 0.5rem;
    left: 80%;
    width: 20%;         
}



nav .input-field label i {
    color: white;
    transition: color 0.3s ease 0s;
    
}

#search { 
    height: 50%;
    margin: auto;
}
*/

.buscador {
    left: 90%; 
    margin-top: 0.5%;   
}

.material-icons:hover {
    cursor: pointer;
}

.waves-effect {
    padding-bottom: 2%;
}

.slider {

    margin: auto;
    margin-top: 5%;

}

.slider-without-category {
    margin-top: 8%;
}

.slider h3 {

    font-size: 2.2em;
    font-weight: bolder;

}

.slider h5 {

    font-size: 1.4em;
    font-weight: bolder;

}

.slider .indicators .indicator-item.active {
    background-color: #51A9F0;
}

h3,
h5 {

    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.664);
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 2%;

}

.menu-words {
    font-size: 1.2em;
}

.contato {
    color: red;
    font-weight: bolder;
}

.ligas {
    background-color: var(--visual-identity-color);
}

.texto-ligas {
    color: white;
    font-weight: bold;
}


.texto-ligas:hover {
    text-transform: uppercase;
    color: rgba(255, 0, 0, 0.753);
}

.texto-estados-ligas {
    
    font-weight: bolder;
}

.texto-estados-ligas:hover {
    
    color: white;
}

.col {
    margin-top: 7%;
}

.row {
    margin-top: 10%;
}

.row-titles {

    color: var(--visual-identity-color);
    font-weight: bolder;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.109);
    font-size: 1.1em;
    margin-top: 0%;

}

.row-subtitles {
    font-size: 1.08em;
}

.more-news {

    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    background-color: var(--visual-identity-color);
    color: white;
    margin-top: 2%;
    margin-bottom: 3%;
}

.afiliates {
    padding-left: 90%;
}

.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color:var(--visual-identity-color);
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
     box-shadow: none; 
}

.btn:hover {

    background-color:var(--visual-identity-color);
    box-shadow: none;
}

.dropdown1.active, .btn.active {
    background-color: var(--visual-identity-color);
}

.clubes-afiliados {
    height: 35px;   
    max-width: 35px;
    vertical-align: top;
    margin: 3.5%;
}

.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 250px;
    max-height: 850px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    z-index: 999;
    will-change: width, height;
    border-radius: 4%;
}

/* Estilização Página Associação Brasileira de Esportes */

.associacao-title {

    font-size: 2.2em;
    font-weight: bolder;
    color: var(--visual-identity-color);

}

.associacao-content {
    font-size: 1.3em;
    justify-content: center;
}

.associacao-container {
    margin-top: 2%;
}

/* Estilização página do usuário */


.main-user {
    margin-top: -10%;
}

.user-page {
    background-color:var(--visual-identity-color);
    height: 100vh;
    margin-top: 0.1%;
    
}

.user-page2 {    
    height: 100vh;
    margin-top: 0.1%;
    background-image: linear-gradient(67deg,white 55%, #51a8f070);
    
}

.logo-user {
    width: 80%;    
}

.side-user-page, .post-news-user-page{
    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.13);
    font-size: 2em;
    text-align: center;
}

.link-user { 
    color: white;
    
}

.link-user:hover {
    color: red;
    text-transform: uppercase;
    font-weight: bolder;
}

.text-link-user { 
    text-align: center;
}

.title-user-page {
    color: var(--visual-identity-color);
    font-size: 2.5em;
    font-weight: bolder;
}

.insert-news {
    background-color: var(--visual-identity-color);
    height: 40vh;
    width: 70%;
    margin: auto;
    margin-top: 10%;
}

.post-news-user-page {
    padding-top: 3%;
}

.actions-buttons {
    margin-top: 10%;
    
}

.action-button { 
    margin-left: 2%;
    height: 50px;
    border-radius: 10px;
    color:var(--visual-identity-color);
    font-weight: bolder;
    
}

.action-button:hover {
    -webkit-transform: scale(1.02);
    color: red;
}

/* Estilizando Portal de inserção de Notícias */

/*
.insert-news-portal {
    width: 80%;
    margin: auto;
    margin-top: -5%;
    height: 80vh;
    background-color: lightgray;
}
*/
.news-portal {
    background-image: none;    
}

fieldset {
    height: 85vh;
}

.msg {
    height: 50vh;
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;        
}

.img-send {
    margin-top: 1.5%;
}

.btn-submit { 
    margin-left: 85%;
}

.login-container {
    width: 50%;
    margin: auto;
    padding-left: 18%;
    padding-top: 5%;
}

.login-fieldset {
    height: 50vh;
    
}

.login-submit {
   margin: 10% 20%;
}

.title-user-page {
    padding-top: 1%;
}

.user-login { 
    width: 50%;
    margin-left: 20%;
    margin-top: 2%;
}

.btn-login {
    margin: 10% 20%;
}

.league-register-select { 
    width: 100%;
}

.title-register {
    margin-top: 25%;
}

.btn-register {
    width: 100%;
    margin-top: 3%;
    
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: var(--visual-identity-color);
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.btn, .btn-large.active {    
    
    background-color: var(--visual-identity-color);
    
}

/* Estilizando a página de destino das notícias */

.title-news {
    font-size: 3em; 
    font-weight: bolder;
    text-align: center;
}

.subtitle-news {
    font-size: 1.8em;
    color: rgba(66, 66, 66, 0.815);
    font-weight: bolder;
    text-align: center;
}

.img-position, .subtitle-image {
    text-align: center;
}

.subtitle-image {
    font-size: 1.1em;
}

.body-news {
    font-size: 1.3em;
    margin-top: 5%;
    text-align: center;    
}

.img-news {
    width: 70%;
    margin-top: 3%;
    text-align: center;
}

.bolder {
    font-weight: bolder;
}

.another-news {
    margin-top: 5%;
}

.more-page-news {
    text-align: center;
    font-size: 1.3em;
    font-weight: bolder;
    margin-top: 3%;    
}

.more-page-news:hover {
    cursor: pointer;
    text-decoration: underline;
    -webkit-transform: scale(1.05);    
}
/*Estilizando o nav main do Insider*/

.nav-main {
    background-color: white;
    height: 8vh;
}

.ul-nav-insider {
    width: 100%;
    
}

.title-nav-insider {
    color: black;
}

.li-nav-insider {
    padding-left: 3%;
}

.title-nav-insider, .title-nav-entrevistas {
    text-transform: uppercase;
    color: var(--visual-identity-color);
    font-weight: bolder;
}

.title-nav-entrevistas {
    font-size: 1.5em;
    margin-top: 0%;
}

.title-nav-insider:hover, .title-nav-entrevistas:hover {
    cursor: pointer;
    -webkit-transform: scale(1.05);
}


.news-row-insider {
    margin-top: 1%;
}

/* Estilizando a página craque do jogo */

.man-of-the-match-page-title {
    font-size: 2.5em;
    color: var(--visual-identity-color);
    font-weight: bolder;
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 1.4em;    
}

.man-of-the-match-selection {
    margin: auto;
}

.btn-man-of-the-match-position {
    position: relative;
    left: 70%;
    margin-top: 2%;
}

@media (min-width: 780px) {

    li:hover,
    .card-content:hover {
        cursor: pointer;
    }

    .side-nav li:hover {
        background-color: var(--visual-identity-color);
    }

    .side-nav a:hover {
        color: white;
    }

    .side-nav {
        width: 35%
    }    
    
    

}