*{ 
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

:root { --visual-identity-color: #51A9F0}

nav 
{ 
    
    background-color: #51a8f077; 
    height: 11.3vh;

}

.logo-svg { height: 70px; }

.material-icons:hover { cursor: pointer; }

.side-nav { width: 20%}

.slider 
{ 
    
    margin: auto; 
    margin-top: 6%;  
    
}

.slider h3 
{ 
    
    font-size: 2.2em; 
    font-weight: bolder;

}
.slider h5 
{ 
    
    font-size: 1.4em; 
    font-weight: bolder;

}

h3, h5 
{ 
   
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.664); 
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 2%;

}

.menu-words { font-size: 1.2em; }

.contato { color: red; font-weight: bolder;}

.testando { background-color: var(--visual-identity-color); }

.bola { color: white}

.col { margin-top: 7%; }

.row {margin-top: 10%; }

.row-titles
{ 
    
    color: var(--visual-identity-color);
    font-weight: bolder;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.109); 
    font-size: 1.1em;
    margin-top: 0%;

}

.row-subtitles { font-size: 1.08em; }

.more-news 
{

    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    background-color: var(--visual-identity-color);
    color: white; 
    margin-top: 2%; 
    margin-bottom: 3%;  
}

@media (min-width: 780px)
{

    li:hover, .card-content:hover { cursor: pointer; }

    .side-nav li:hover{ background-color: var(--visual-identity-color); }
    
    .side-nav a:hover { color: white; }

}

