@media (max-width: 767px)
{

    .slider h3 
    { 

        font-size: 1.5em; 
        font-weight: bolder;

    }

    .slider h5 
    { 

        font-size: 1em; 
        font-weight: bolder;

    }

    .row-titles { font-size: 0.45em;}

    .row-subtitles { display: none; }

    .more-news { font-size: 1.3em; }

}