@media (max-width: 767px)
{
    
    .slider {
        margin-top: -2%;
    }
    
    .slider h3 
    { 

        font-size: 1.5em; 
        font-weight: bolder;

    }

    .slider h5 
    { 

        font-size: 1em; 
        font-weight: bolder;

    }

    nav { height: 6.5vh; }

    .category {
        font-size: 1.5em;
        margin-top: 2%;
    }

    .row-titles { font-size: 0.45em;}

    .row-subtitles { display: none; }

    .more-news { font-size: 1em; }    

    .logo-svg { height: 40px; }

    .busca{ background-color: var(--visual-identity-color); }

    .mobile-logo { height: 32px; }

    .page-name { font-size: 0.6em; }

    .league-category { font-size: 0.6em;}  
    
    /*

    .input-field {
        right: 0.5rem;
        left: 70%;
        width: 10%;               
    }
   

    nav .input-field label i {
        color: white;
        transition: color 0.3s ease 0s;
        
    } 
    
    .lupa {
        margin-top: -25%;
    }

    */

    .buscador {
        left: 65%;
        width: 30%;
        margin-bottom: 5%;
    }

}

@media (min-width:768px) and (max-width: 868px) {
    .buscador {
        left: 75%;
        width: 25%;
        margin-bottom: 1.5%;
    }
}