@media (max-width: 767px)
{
       
    .slider h3 
    { 

        font-size: 1.5em; 
        font-weight: bolder;

    }

    .slider h5 
    { 

        font-size: 1em; 
        font-weight: bolder;

    }

    nav { height: 6.5vh; }

    .row-titles { font-size: 0.45em;}

    .row-subtitles { display: none; }

    .more-news { font-size: 1em; }    

    .logo-svg { height: 40px; }

    .busca{ background-color: var(--visual-identity-color); }

    .mobile-logo { height: 32px; }

    .page-name { font-size: 0.6em; }

    .league-category { font-size: 0.6em;}

}