*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html
{
    
    font-family: tahoma;

}

main 
{ 
    
    
}

.subtitles-cards-title
{

    font-size: 1.2rem;
    font-weight: bolder;
    margin-top: 1.5%;
    margin-left: 3%;

}

.cards-title
{

    font-size: 1.5rem;
    color: #00695c;
    font-weight: bolder;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 1.5%;
    

}

.links
{

    margin-top: -3%;
    margin-left: 3%;
    margin-right: 1.5%;
    color: #00695c;
    
}

.box-shadown 
{
    box-shadow: none;
}

#test
{
   margin-left: -30%;
}